{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
       <h1>About</h1>
       <br>
       <p>
        Orthrus is a framework for the static analysis of smart contracts.
       <h3>Features</h3>
           <ul>
               <li>A plugin system to easily add new vulnerability detectors</li>
               <li>Minimal user interaction</li>
               <li>Automatic detection and download of the correct version of the Solidity compiler as required by the contract under analysis</li>
           </ul>
       </p>
    </div>
{% endblock content %}
